.comments {
    width: 100%;
    margin: 0 auto;
    // background: red;
    padding: 2%;
    // position: relative;

    &__title {
        margin: 2% 0;
    }

    &__post {
        padding: 2%;
        margin: 2% 0;
        background: $principal_bg;
        border-radius: 15px;
    }

    &__author {
        display: flex;
        align-items: center;
        margin: 1% 0;

        font-size: 1.1rem;
        font-weight: 700;
    }

    &__timestamp {
        margin: 1% 0;
    }

    &__content {
        padding: 2%;
    }

    &__buttons {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
}

// Edit comments
.comments__editForm {
    &--btn {
        margin: 2% 5% 2% 0;
    }
}
