.article {
    width: 100%;
    box-shadow: 0 0 5px rgb(48, 40, 40);

    border-radius: 20px;
    margin: 5% 0;

    &__shareAuthor {
        background: darken($principal_bg, 5%);
        border-radius: 15px;

        &--margin {
            margin: 0 0 5%;
        }
    }

    &__info {
        &--wrapper {
            display: flex;
            align-items: center;
        }
    }

    & .sharedFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        // background: $principal_bg;
        border-radius: 10px;
        // margin-top: 2%;
        width: 120px;
        padding: 1%;
        // margin: 0 2%;

        & p {
            // display: flex;
            // justify-content: center;
            // align-items: center;

            font-size: 1.1rem;
        }
    }

    &__header {
        background: darken($principal_bg, 5%);
        border-radius: 20px 20px 0 0;
        position: relative;
        // padding: 2%;

        &--share {
            height: auto;
            position: absolute;
            right: 3%;
            top: 30%;
        }
        &--shared {
            color: $accent_color_3;
            font-size: 1.7rem;
            margin: 2%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--title {
            text-align: center;
            font-size: 1.7rem;
            margin: 1% 0 5%;

            border-bottom: 1px solid $accent_color_3;
            padding-bottom: 3%;
        }

        &--author {
            // display: flex;
            // align-items: center;

            .author {
                &__img {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    border: 3px $accent_color_3;
                    border-style: dashed solid;

                    margin-right: 2%;
                }

                &__name {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $accent_color_3;

                    margin-right: 10px;
                }

                &__postDate {
                    font-size: 1rem;
                    display: flex;
                    // font-style: italic;

                    .dateTime {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    &__content {
        width: 100%;
        padding: 4%;
        font-size: 1.1rem;
        white-space: pre-wrap;

        &--img {
            width: 100%;
            margin-top: 4%;
        }
    }

    &__footer {
        background: darken($principal_bg, 5%);
        border-radius: 0 0 20px 20px;

        position: relative;

        &--social {
            display: flex;
            justify-content: space-between;
            padding: 2%;

            & .social__count {
                color: #fff;
                font-weight: 700;
                margin: 0 2px;
                font-size: 1.2rem;
            }
        }
    }
}

.social {
    // width: auto;
    margin: 0 10px;

    &__wrapper {
        display: flex;
    }

    &__postManage {
        display: flex;
    }
}

.shareBtn {
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: none;
    color: #fff;
}
