.btn {
    background: $accent_color_3;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 15px;

    padding: 10px 20px;
    margin: 1%;

    @include flex-center;

    transition: all 100ms ease-in-out;
    &__share {
        background: $principal_bg;
    }

    &__comments {
        background: $principal_bg;
        &--count {
            color: green;
        }
    }

    &__edit {
        background: $principal_bg;
    }

    &__delete {
        background: grey;
        margin: 0 20%;
    }

    &__img {
        width: 10%;
    }

    &:hover {
        background: $accent_color_2;
        color: $accent_color_3;
    }
}

.logoutBtn {
    font-size: 2rem;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;

    display: flex;
    align-items: center;

    &:hover {
        color: $accent_color_3;
    }
}

.resetBtn {
    outline: none;
    border: none;
    background: none;
    color: #fff;
}
