.postForm {
    // width: 100%;
    // background: red;
    padding: 3%;

    display: flex;
    flex-direction: column;

    & h2 {
        text-align: center;
        margin: 1%;
    }

    // &__editMod {
    //     transition: all 300ms ease-in-out;
    // }

    &__edit {
        &--title {
            width: 100%;
            height: 50px;
            border-radius: 20px 20px 0 0;
            outline: none;
            border: none;
            font-size: 1.1rem;
            padding: 1%;
        }

        &--textarea {
            width: 100%;
            height: 200px;
            border-radius: 0 0 20px 20px;
            outline: none;
            border: none;
            font-size: 1.1rem;
            padding: 1%;
        }

        &--imgPreview {
            margin: 4% 0;
            width: 40%;
        }

        // &--file {
        //     &:hover {
        //     }
        // }

        // &--send {

        // }

        &--btn {
            display: flex;
            justify-content: space-between;
        }
    }
}
