.share {
    &__message {
        position: absolute;
        bottom: 14px;
        left: 250px;

        font-size: 1.2rem;

        background: rgb(133, 255, 133);
        color: green;
        border-radius: 5px;
        border: 1px solid green;

        padding: 2%;

        &:hover {
            color: green;
        }
    }
}
