.profile {
    font-size: 1.2rem;
    margin: 2% 0;
    &__data {
        width: 55%;
        padding: 2%;
        border-radius: 15px;
        margin: 0 auto;
        background: darken($principal_bg, 5%);
        box-shadow: 0 0 5px rgb(48, 40, 40);
    }

    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--margin {
            margin: 5%;
        }
    }

    &__signupDate {
        font-size: 1rem;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__btn {
        display: flex;
    }

    &__infos {
        margin: 10% 0;
    }
}
