.profile {
    font-size: 1.2rem;
    margin: 2% 0;
    &__data {
        width: 55%;
        border-radius: 15px;
        margin: 0 auto;
        background: darken($principal_bg, 5%);
        box-shadow: 0 0 5px rgb(48, 40, 40);

        @include tablet-only {
            width: 600px;
            margin: 2% auto;
        }

        @include mobile-only {
            width: 100%;
            // margin: 2%;
        }
    }

    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 2%;

        background: darken($principal_bg, 10%);
        border-radius: 20px 20px 0 0;

        &--margin {
            margin: 5%;
        }
    }

    &__signupDate {
        font-size: 1rem;
        display: flex;

        .dateTime {
            margin-left: 5px;
        }
    }

    &__title {
        font-size: 1.5rem;
        color: #fff;
    }

    &__btn {
        display: flex;
    }

    &__infos {
        margin: 10% 0 0;
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 100%;

        margin-right: 5%;

        border: 3px #fff;
        border-style: solid;
    }

    &__delete {
        margin: 5% auto;
        text-align: center;
        border-top: 3px solid $accent_color_3;
        padding-top: 5%;

        & .btn__delete {
            margin: 5% auto;
        }
    }
}

.profileForm {
    width: 100%;
    padding: 2%;
    margin: 0 0 2%;

    & .btn__img {
        width: 100px;
    }

    &__form {
        margin: 2% 0 0;
    }

    & label {
        width: 100%;
        margin: 1%;
    }

    &__personnal {
        margin: 5% 0;
        & h3 {
            text-align: center;
            margin-bottom: 2%;
            padding-bottom: 2%;
            border-bottom: 3px solid $accent_color_3;
        }
        &--inputs {
            display: flex;
        }
    }

    &__firstName {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        padding: 2%;
        font-size: 1.1rem;

        outline: none;
        border: none;
    }
    &__lastName {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        padding: 2%;
        font-size: 1.1rem;

        outline: none;
        border: none;
    }

    &__birthdate {
        height: 45px;
        border-radius: 10px;
        padding: 2%;
        font-size: 1.1rem;
    }

    &__login {
        margin: 5% auto;

        & h3 {
            text-align: center;
            margin-bottom: 2%;
            margin-top: 10%;
            padding-bottom: 2%;
            border-bottom: 3px solid $accent_color_3;
        }

        &--inputs {
            display: flex;
        }
    }

    &__email {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        padding: 2%;
        font-size: 1.1rem;
    }

    &__password {
        width: 100%;
        height: 45px;
        border-radius: 10px;
        padding: 2%;
        font-size: 1.1rem;
    }

    &__btn {
        margin: 2% auto;
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__image {
        display: none;
    }

    .setPwd {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 5% auto;
    }
}
