* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: $principal_bg;
    color: $normal_text;
}

a {
    text-decoration: none;
}

li {
    padding-left: 0;
    list-style-type: none;
}

.App {
    // text-align: center;
    // position: relative;
    width: 100%;
    height: 100vh;

    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &__bgColor {
        position: absolute;
        z-index: 1;
        background: $principal_bg;
        opacity: 0.9;
        width: 100%;
        height: 100vh;
    }
}

// .App-logo {
//     height: 40vmin;
//     pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//         animation: App-logo-spin infinite 20s linear;
//     }
// }

// .App-header {
//     background-color: #282c34;
//     // min-height: 100vh;
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     // justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
// }

// .App-link {
//     color: #61dafb;
// }

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
